body{

    color: white;

}

.main-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('tarea2/imagenes/mt07-fondo-pantalla.png');
    background-size: cover;
    background-position: center;

}

.btn-main-container{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}

.btn-container{

    margin: 20px;

}

.btn-entrar{

    color: white;
    background-color: rgb(8, 153, 40);
    font-size: 25px;
    width: 100%;
    border-radius: 5px;
    border: none;

}

.btn-entrar:hover {

    background-color: rgb(7, 204, 50);;
}